$nullBackground: #828282;
$primaryColor: #2f80ed;
$textColor: #333;
$sidebarBorderColor: #219653;
$TilledBackground: #f2994a;
$navBarBackground: #27ae60;
$labelColor: #e0e0e0;
$removeButtonColor: #4f4f4f;
$bodyBackground: #6fcf97;
$plantedBackground: #f2c94c;
$cancelButtonColor: #eb5757;
$white: #fff;
$expandButtonColor: #2d9cdb;
